body{
background-image: url(/imagenes/backgroundMobile.png);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
font-family: Arial, Helvetica, sans-serif;

}
h1{
    color: whitesmoke;
    text-align: center;
    background-color: greenyellow;
    color: white;
    font-family: 'Luckiest Guy', cursive;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 25px;
    box-shadow: 5px 10px 10px black;
    
}
h2{   
    background-color: greenyellow;
    font-family: 'Luckiest Guy', cursive;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 10px 10px black;
    text-align: center;
    margin-top: 0.5cm;
}
nav{
    background-color: coral;
    box-shadow: 10px 10px 10px black;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    

}
p{
    text-align: justify;
    background-color: darkgrey;
    box-shadow: 10px 10px 10px black;
    padding: 15px;
    border-radius: 5px;
}
    


footer{
    text-align: center;
    background-color:coral;
    padding: 3px;  
    position: fixed;
    width: 100%;
    bottom: 0;

}
/*div.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}
div.container > img{
    width: 100%;
    margin-bottom: 25px;
    box-shadow: 8px 10px 13px black;
    border-radius: 30px;

}*/
.form > input,label{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
